@model Anket
@{
    ViewData["Title"] = "Anket Ekle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<form asp-action="AnketEkle" method="post">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group mt-3">
        <label asp-for="Ad"></label>
        <input asp-for="Ad" class="form-control" />
        <span asp-validation-for="Ad" class="text-danger"></span>
    </div>

    <div class="form-group mt-3">
        <label asp-for="BaslangicTarihi"></label>
        <input type="date" asp-for="BaslangicTarihi" class="form-control" />
        <span asp-validation-for="BaslangicTarihi" class="text-danger"></span>
    </div>

    <div class="form-group mt-3">
        <label asp-for="BitisTarihi"></label>
        <input type="date" asp-for="BitisTarihi" class="form-control" />
        <span asp-validation-for="BitisTarihi" class="text-danger"></span>
    </div>

    <div class="form-group mt-3">
        <label asp-for="AktifMi"></label>
        <input asp-for="AktifMi" type="checkbox" />
        <span asp-validation-for="AktifMi" class="text-danger"></span>
    </div>

    <div class="form-group mt-3">
        <a asp-controller="Anket" asp-action="AnketListesi" class="btn btn-outline-danger btn-sm">İptal</a>
        <button type="submit" class="btn btn-outline-primary btn-sm">Kaydet</button>
    </div>

</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}