
@{
    ViewData["Title"] = "Sayfa Bulunamadı";
    Layout = "~/Views/Shared/_KullaniciLayout.cshtml";
}

<div class="container text-center">
    <h1 class="text-danger"> Sayfa bulunamadı!</h1>

    <p> Aradığınız sayfa mevcut değil veya silinmiş olabilir</p>
    <a href="/Home/Index" class="btn btn-outline-primary btn-sm">Ana Sayfa</a>
</div>


