@model Rol
@{
    ViewData["Title"] = "Rol Güncelle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex align-items-center justify-content-center min-vh-50">
    <div class="card shadow p-4 w-100" style="max-width: 500px;">

        <h4 class="text-center mb-4">@ViewData["Title"]</h4>

        <form asp-action="RolGuncelle" method="post" novalidate>

            <div asp-validation-summary="ModelOnly" class="text-danger text-center mb-3"></div>

            
            <input type="hidden" asp-for="Id" />

            @*  Rol Adı  *@
            <div class="mb-3">
                <label asp-for="RolAdi" class="form-label fw-semibold"></label>
                <input asp-for="RolAdi" class="form-control" />
                <span asp-validation-for="RolAdi" class="text-danger small"></span>
            </div>

            @*  Butonlar  *@
            <div class="d-flex justify-content-center gap-2 mt-4">
                <a asp-controller="Rol" asp-action="RolListesi" class="btn btn-outline-danger">İptal</a>
                <button type="submit" class="btn btn-outline-info">Güncelle</button>
            </div>

        </form>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}