@model Birim
@{
    ViewData["Title"] = "Birim Ekle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex align-items-center justify-content-center min-vh-50">
    <div class="card shadow p-4 w-100" style="max-width: 500px;">

        <h4 class="text-center mb-4">@ViewData["Title"]</h4>

        <form asp-action="BirimEkle" method="post" novalidate>

            <div asp-validation-summary="ModelOnly" class="text-danger text-center mb-3"></div>

            @*  Birim Adı  *@
            <div class="mb-3">
                <label asp-for="Ad" class="form-label fw-semibold"></label>
                <input asp-for="Ad" class="form-control" />
                <span asp-validation-for="Ad" class="text-danger small"></span>
            </div>

            @*  Butonlar *@
            <div class="d-flex justify-content-center gap-2 mt-4">
                <a asp-controller="Birim" asp-action="BirimListesi" class="btn btn-outline-danger btn-sm">Vazgeç</a>
                <button type="submit" class="btn btn-outline-primary btn-sm">Ekle</button>
            </div>

        </form>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}