@model IEnumerable<Birim>
@{
    ViewData["Title"] = "Birimler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<a asp-action="BirimEkle" class="btn btn-outline-primary btn-sm"><i class="fa-solid fa-plus"></i> Birim Ekle</a>

<br />

<table class="table table-hover table-responsive" id="basic-datatables">
    <thead>
        <tr>
            <th>Birim Adı</th>
            <th>Durum</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Ad</td>
                <td>
                    @if (item.AktifMi == true)
                    {
                        <span class="badge bg-success">Aktif</span>
                    }
                    else
                    {
                        <span class="badge bg-danger">Pasif</span>
                    } 
                </td>
                <td>
                    <a asp-action="BirimGuncelle" asp-route-id="@item.Id" class="btn btn-outline-info btn-sm"><i class="fa-solid fa-edit" title="Birimin bilgilerini günceller"></i></a>
                    <a asp-action="BirimDurumuDegistir" asp-route-id="@item.Id" class="btn btn-outline-warning btn-sm" onclick="return confirm('Durumu değiştirmek istediğinize emin misiniz?')"><i class="fa fa-refresh" title="Birimin durumunu değiştirir"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {

    @* dataTable.js kullanımı *@
    <script>
        $(document).ready(function () {
            $("#basic-datatables").DataTable({
                "language": {
                    "decimal": ",",
                    "thousands": ".",
                    "lengthMenu": "Sayfa başına _MENU_ kayıt göster",
                    "zeroRecords": "Kayıt bulunamadı",
                    "info": "_TOTAL_ kayıttan _START_ - _END_ arası gösteriliyor",
                    "infoEmpty": "Kayıt yok",
                    "infoFiltered": "(_MAX_ kayıt içinden filtrelendi)",
                    "search": "Ara:",
                    "paginate": {
                        "first": "<<",
                        "last": ">>",
                        "next": ">",
                        "previous": "<"
                    }
                }
            });
        });
    </script>
}