@model Kullanici
@{
    ViewData["Title"] = "Kullanıcı Ekle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<form asp-action="KullaniciEkle" method="post">

    <div class="form-group mt-3">
        <label asp-for="RolId"></label>
        <select asp-for="RolId" asp-items="ViewBag.RollerListesi" class="form-control"></select>
        <span asp-validation-for="RolId" class="text-danger"></span>
    </div>

    <div class="form-group mt-3">
        <label asp-for="TCKN"></label>
        <input asp-for="TCKN" class="form-control" />
        <span asp-validation-for="TCKN" class="text-danger"></span>
    </div>

    <div class="form-group mt-3">
        <label asp-for="Ad"></label>
        <input asp-for="Ad" class="form-control" />
        <span asp-validation-for="Ad" class="text-danger"></span>
    </div>

    <div class="form-group mt-3">
        <label asp-for="Soyad"></label>
        <input asp-for="Soyad" class="form-control" />
        <span asp-validation-for="Soyad"></span>
    </div>

    <div class="form-group mt-3">
        <label asp-for="KulaniciAdi"></label>
        <input asp-for="KulaniciAdi" class="form-control" />
        <span asp-validation-for="KulaniciAdi" class="text-danger"></span>
    </div>

    <div class="form-group mt-3">
        <label asp-for="Sifre"></label>
        <input asp-for="Sifre" class="form-control" />
        <span asp-validation-for="Sifre"></span>
    </div>

    <div class="form-group mt-3">
        <a asp-controller="Kullanici" asp-action="KullaniciListesi" class="btn btn-outline-danger btn-sm">İptal</a>
        <button type="submit" class="btn btn-outline-primary btn-sm">Kaydet</button>
    </div>

</form>
