@model Kullanici
@{
    ViewData["Title"] = "Profil Düzenle";
}

<h2 class="text-center">@ViewData["Title"]</h2>

<form asp-action="ProfilDuzenle" method="post" class="mt-4 mx-auto" style="max-width: 600px;">

    <input type="hidden" asp-for="Id" />

    @Html.ValidationSummary(true, "", new { @class = "text-danger mb-3" })

    <div class="mb-3">
        <label asp-for="TCKN" class="form-label"></label>
        <input asp-for="TCKN" class="form-control" />
        <span asp-validation-for="TCKN" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Ad" class="form-label"></label>
        <input asp-for="Ad" class="form-control" />
        <span asp-validation-for="Ad" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Soyad" class="form-label"></label>
        <input asp-for="Soyad" class="form-control" />
        <span asp-validation-for="Soyad" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="KulaniciAdi" class="form-label"></label>
        <input asp-for="KulaniciAdi" class="form-control" />
        <span asp-validation-for="KulaniciAdi" class="text-danger"></span>
    </div>

    <div class="text-center d-flex gap-2">
        <a asp-action="Profil" class="btn btn-outline-secondary btn-sm">İptal</a>
        <button type="submit" class="btn btn-outline-primary btn-sm">Kaydet</button>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

