@model Kullanici
@{
    ViewData["Title"] = "Kayıt Ol";
}

<div class="d-flex align-items-center justify-content-center min-vh-50">
    <div class="card shadow p-4 w-100" style="max-width: 600px;">

        <h4 class="text-center mb-4">@ViewData["Title"]</h4>

        <form asp-action="Register" method="post" novalidate>

            <div asp-validation-summary="ModelOnly" class="text-danger text-center mb-3"></div>

            @*  TCKN  *@
            <div class="mb-3">
                <label asp-for="TCKN" class="form-label fw-semibold"></label>
                <input asp-for="TCKN" class="form-control" />
                <span asp-validation-for="TCKN" class="text-danger small"></span>
            </div>

            @*  Ad  *@
            <div class="mb-3">
                <label asp-for="Ad" class="form-label fw-semibold"></label>
                <input asp-for="Ad" class="form-control" />
                <span asp-validation-for="Ad" class="text-danger small"></span>
            </div>

            @*  Soyad  *@
            <div class="mb-3">
                <label asp-for="Soyad" class="form-label fw-semibold"></label>
                <input asp-for="Soyad" class="form-control" />
                <span asp-validation-for="Soyad" class="text-danger small"></span>
            </div>

            @*  Kullanıcı Adı  *@
            <div class="mb-3">
                <label asp-for="KulaniciAdi" class="form-label fw-semibold"></label>
                <input asp-for="KulaniciAdi" class="form-control" />
                <span asp-validation-for="KulaniciAdi" class="text-danger small"></span>
            </div>

            @*  Email  *@
            <div class="mb-3">
                <label asp-for="Email" class="form-label fw-semibold"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger small"></span>
            </div>

            @*  Şifre  *@
            <div class="mb-3">
                <label asp-for="Sifre" class="form-label fw-semibold"></label>
                <input asp-for="Sifre" class="form-control" type="password" />
                <span asp-validation-for="Sifre" class="text-danger small"></span>
            </div>

            @*  Kayıt Butonu  *@
            <div class="d-grid mt-4">
                <button type="submit" class="btn btn-outline-success btn-sm">Kayıt Ol</button>
            </div>

            @*  Giriş bağlantısı  *@
             <p class="text-center mt-3 mb-0">
                Zaten hesabınız var mı? <a asp-action="Login" class="btn btn-outline-primary text-decoration-none">Giriş Yap</a>
            </p> 

        </form>

    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

