@model KullaniciSifremiUnuttumVM
@{
    ViewData["Title"] = "Şifremi Unuttum";
}

<div class="d-flex align-items-center justify-content-center min-vh-50">
    <div class="card shadow p-4 w-100" style="max-width: 500px;">

        <h4 class="text-center mb-4">@ViewData["Title"]</h4>

        <form asp-action="SifremiUnuttum" method="post" novalidate>

            <div asp-validation-summary="ModelOnly" class="text-danger text-center mb-3"></div>

            @*  TCKN  *@
            <div class="mb-3">
                <label asp-for="TCKN" class="form-label fw-semibold"></label>
                <input asp-for="TCKN" class="form-control" />
                <span asp-validation-for="TCKN" class="text-danger small"></span>
            </div>

           @*  Kullanıcı Adı *@
            <div class="mb-3">
                <label asp-for="KullaniciAdi" class="form-label fw-semibold"></label>
                <input asp-for="KullaniciAdi" class="form-control" />
                <span asp-validation-for="KullaniciAdi" class="text-danger small"></span>
            </div>

            @*  Buton  *@
            <div class="d-grid mt-4">
                <button type="submit" class="btn btn-outline-warning">Şifre Sıfırla</button>
            </div>

            @* Girişe Dön  *@
            <p class="text-center mt-3 mb-0">
                <a asp-action="Login" class="btn btn-outline-primary text-decoration-none">← Giriş Yap</a>
            </p>

        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}